<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title> Ta3alm</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="/images/logo.jpg" rel="icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/style/animate.css/animate.min.css" rel="stylesheet">
    <link href="/style/aos/aos.css" rel="stylesheet">
    <link href="/style/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/style/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/style/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/style/remixicon/remixicon.css" rel="stylesheet">
    <link href="/style/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="/style/style.css" rel="stylesheet">
    <link href="/style/register.css" rel="stylesheet">
    <link href="/style/Admin.css" rel="stylesheet">
    <link href="/style/member.css" rel="stylesheet">
    <link href="/style/password.css" rel="stylesheet">
  </head>