.password-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right bottom, var(--bg), var(--bg-dark));
}
.password-page h1 {
    font-size: 1.7rem;
    font-family: main-bold;
}
.password-page h1 span {
    color: var(--primary);
}
.password-page input {
    font-size: 0.9rem;
    padding: 0.6rem;
    border: 1px solid rgb(230, 230, 230);
    width: 300px;
    outline: none;
    border-radius: 5px;
    background: transparent;
    transition: 0.3s;
}
.password-page input:hover {
    border: 1px solid rgb(219, 219, 219);
}
.password-page input:focus {
    border: 1px solid var(--primary);
}

.password-page button {
    color: var(--font);
    margin: 1rem 0;
    background: linear-gradient(to right bottom, var(--primary-light), var(--primary));
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 4px;
    box-shadow: 0 0 10px var(--primary-transparent);
    outline: none;
    border: none;
}